<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br/>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Categories</h2>
                    <h1 class="title">{{data?.category}}</h1>
                    <p><button class ="button" [routerLink]="['/category']">View</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Internships</h2>
                    <h1 class="title">{{data?.stage}}</h1>
                    <p><button class ="button" [routerLink]="['/stage']">View</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Affected Internships</h2>
                    <h1 class="title">{{data?.form}}</h1>
                    <p><button class ="button" [routerLink]="['/Affectedinternships']">View</button></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns "></tr>


    </table>

</div>
</body>