<mat-card>
    <b><span>Affected Internships</span></b>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">
                {{element.email}}
            </td>
        </ng-container>
        <ng-container matColumnDef="enseignant">
            <th mat-header-cell *matHeaderCellDef>Supervisor's Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.enseignant}}
            </td>
        </ng-container>
        <ng-container matColumnDef="niveauE">
            <th mat-header-cell *matHeaderCellDef>Level of study</th>
            <td mat-cell *matCellDef="let element">
                {{element.niveauE}}
            </td>
        </ng-container>
        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <mat-slide-toggle (change)="onChange($event.checked,element.id)"
                    matTooltips="Activate or Deactivate Stage" [checked]="element.status"></mat-slide-toggle>
                <button mat-icon-button color="primary" matTooltip="Download Form" (click)="downloadReportAction(element)">
                    <mat-icon>summarize</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>