<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" color="primary">
                The end-of-studies project:
                </h2>
                <p class="text-muted">The end-of-studies project primarily serves as a way to step into the world of business. Indeed, these four months on average of internship serve as a transition between student life and professional life. That's why it's important to choose it well! The end-of-studies internship aims to develop essential skills and attitudes in the intern for their future professional life.
            </p>
            </div>
        <ul class="timeline">
            <li><a href="../../assets/img/Work.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Work.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Administrator</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            As an administrator on our website, you're responsible for managing and improving our internship program. This includes adding and aligning new opportunities, overseeing their management, and ensuring smooth communication between the company and interns. You also manage user experience, providing support for students and companies. Your expertise is crucial in creating valuable connections and learning experiences for all.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/Student.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Student.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Student</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            As a student user, you can explore diverse internships, apply easily, track your applications, and stay updated on their status all in one place. Your journey to career advancement begins here, supported at every step.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/Teachers.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Teachers.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Teacher</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            As a teacher user, you can recommend internships to students, offer application advice, and track their progress.                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        
                        <br />
                        
                        <br />
                        
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>